.pagination {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.pagination .arrowhead-icon {
  color: #020712;
}
.pagination .pages {
  padding: 0rem 2.25rem;
  display: flex;
  align-items: flex-start;
}
.pagination .page {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  font-size: 1rem;
  color: #020712;
  padding: 0 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination .page.active {
  font-weight: bold;
  background-color: #0070f3;
  color: #fff;
}
.pagination .arrow {
  opacity: 1;
  color: #0070f3;
}
.pagination .arrow:disabled,
.pagination .arrow:disabled:hover {
  opacity: 0.2;
}
